header {
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(135deg, #1e293b, #b2ccf1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

section {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

footer{
    background: linear-gradient(135deg, #1e293b, #b2ccf1);
    color: #0f172a;
    text-align: center;
}